[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
nest-asyncio = "*"
sphinx = "*"
bitstring = "*"
numpy = "*"
bluepy = "*"
colorama = "*"
asciimatics = "*"
prompt = "*"
style = "*"
blessings = "*"
sphinxcontrib-htmlhelp = "*"
setuptools = "*"
idna = "*"
sphinx-autoapi = "*"
autoapi = "*"
sphinx-mathjax-offline = "*"
pyparsing = "*"
npyscreen = "*"

[dev-packages]

[requires]
python_version = "3.9"
