[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
bluepy = "*"
asyncio = "*"
asyncio-events = "*"
nest-asyncio = "*"
bitstring = "*"
colorama = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-autodoc-typehints = "*"
autodoc = "*"
sphinx-rtd-theme = "*"
colorlog = "*"

[dev-packages]

[requires]
python_version = "3.9"
