[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
numpy = "*"
sphinx = "*"
autodoc = "*"
sphinxcontrib-napoleon = "*"
bitstring = "*"
prompt-toolkit = "*"
sphinx-autopackagesummary = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
asciimatics = "*"
bluepy = "*"
nest-asyncio = "*"
colorama = "*"
qtpy = "*"
spyder = "*"
spyder-kernels = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
